name: Release

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
            deno-version: v1.x
      - run: deno task json
      - run: git config --global user.name 'GitHub Action'
      - run: git config --global user.email 'action@github.com'
      - run: git fetch
      - run: git checkout bundled
      # Keep the old file name in order to ensure the backwards compatibility of Enthrirhc
      - run: cp output/lexicon_en.json lexicon.json
      - run: git add lexicon.json
      - run: git commit -m "Update bundled lexicon" || echo "No changes to commit"
      - run: git push origin bundled
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "output/lexicon_zh.json,output/lexicon_en.json"
          tag: lastest
          token: ${{ secrets.GITHUB_TOKEN }}